################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/basketball/v16/ipch/AutoPCH/5cba5a553278653/.BASKETBALL.VSARDUINO.ipch
